<div class='container'>
	<div class='pull-right'>
		<a ng-click='logout()' href='#'>Log out</a>
	</div>
	<h2>My Expenses
	
	</h2>
</div>
<div class='container'>
	<button ng-click='goToAdd()' class='btn btn-primary pull-right'>Add Expense</button>
	<button onclick='getMaxValue()' class='btn btn-primary pull-right'>Get Max Value</button>
	<script type='text/javascript'>
		function getMaxValue(){
			var max = 0, val, index = -1;
			$('td.amount').each(function(){
				val = parseInt($(this).html(), 10);
				if(val >= max){
					index++;
					max = val;
				}
			});

			$('td.amount')[index].style.backgroundColor = 'yellow';

		}
	</script>
	<input type='text' class='form-control pull-right' style='width: 200px;margin-right: 20px' placeholder='search' ng-model='search'>
</div>
<div>
	<table class='table'>
		<thead>
			<th>Title</th>
			<th>Amount</th>
			<th>Description</th>
			<th>Date</th>
			<th>Actiond</th>

		</thead>
		<tr ng-repeat="expense in expenses | filter:search">
			<td>{{expense.title}}</td>
			<td class='amount'>{{expense.amount}}</td>
			<td>{{expense.desc}}</td>
			<td>{{expense.create_time}}</td>
			<td><button ng-click='delete(expense.id)' class='btn btn-danger btn-sm'>delete</button>
			<button ng-click='goToEdit(expense.id)' class='btn btn-success btn-sm'>edit</button></td>

		</tr>
	</table>


</div>